.body {
    background-color: rgb(43, 42, 42);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c5b8a1;
}
header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.menu > p {
    padding: 1em 2em;
}
.logo {
    height: 12vh;
    padding-left: 1em;
  
    
}
.main-box {
  background-image: url("/assets/images/vinilo_centro_rosa.png");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 30em;
  height: 70vh;
}