.body {
    background-color: rgb(43, 42, 42);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
}
.menu {
     display: flex;
     align-content: center;
     justify-content: flex-end;
}
.menu > p {
    padding: 1em 3em;
}