html {
  height: 100%;
}

.body {
  background-color: rgb(43, 42, 42);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #c5b8a1;
}
header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10vh;
  font-size: 3vh;
}
.menu > p {
  padding: 1em 2em;
}

#m1 {
  padding: 1em 2em;
  text-decoration: none;
  color: #c5b8a1;
}
.logo {
  height: 12vh;
  padding: 1vh 0 1vh 10vh;
}
.main-box {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#vinilo > img {
  width: 70vh;
}

#info {
  height: 70vh;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.school-name {
  margin: 0;
  font-size: 10vh;
}

.contact {
  background-color: rgb(202, 146, 62);
  font-weight: 500;
  border-radius: 1vh;
  font-size: 2vh;
  padding: 1em;
  margin: 2em;
  cursor: pointer;
}
.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.icons > a > img {
  height: 6vh;
  background-color: #c5b8a1;
  padding: 1vh;
  border-radius: 3vh;
  border: rgb(0 255 255 / 0%) 1vh;
  /* margin: 0 2.7em; */
}

.icons > a {
  text-decoration: none;
}
footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5em;
  font-size: 2vh;
}

footer > a {
  text-decoration: none;
  color: #c5b8a1;
}

/* MARIMBA PAGE */

.intrument-box {
  /* cursor: url("../assets/images/pngwing2.png") 10 10, auto; */
}

.instrument-title {
  margin: 0 0 2em 0;
  justify-self: center;
}

#marimbaBox {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1em;
  margin: 1em;
}

#marimbaBox > button {
  align-self: flex-start;
  background-color: #bd7833;
  border: 0.1em solid black;
  border-radius: 0.4em;
  font-size: 5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#b1 {
  height: 60vh;
}

#b2 {
  height: 58vh;
}

#b3 {
  height: 56vh;
}

#b4 {
  height: 54vh;
}

#b5 {
  height: 52vh;
}

#b6 {
  height: 50vh;
}

#b7 {
  height: 48vh;
}

#b8 {
  height: 46vh;
}

#b9 {
  height: 44vh;
}

#b10 {
  height: 42vh;
}

#b11 {
  height: 40vh;
}

#b12 {
  height: 38vh;
}

#b13 {
  height: 36vh;
}

#b14 {
  height: 34vh;
}

#b15 {
  height: 32vh;
}

/* IN PROGRES PAGE */

#inProgresImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inProgresImg > h2 {
  margin: 0;
}

#inProgresImg > img {
  height: 70vh;
}
